* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root {
    --violeta-titulo: #5656bb;
    --gris-titulo: #d3d3f0;
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.nav-container {
    /* poner flex en media */
    display: none;
    z-index: 50;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #999;
    width: 100%;
    height: 60px;
    padding: 0px 20px;
}

li {
    list-style: none;
}

.nav-item > a {
    font-size: 1.3em;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

/* Nav Responsive */

.nav__resp {
    position: fixed;
    padding: 10px 0px;
    width: 100%;
    height: auto;
    background: #999;
    z-index: 200;
}

.nav-container__resp {
    display: none;
    justify-content: center;
    align-items: flex-end;
    flex-flow: column nowrap;
    transition: all 2s;
}

#cerrar {
    display: none;
}

.boton-nav {
    width: 80px;
    cursor: pointer;
}

.boton-nav__icon {
    width: 50px;
    height: 50px;
}

.boton-nav:hover > .nav-container__resp {
    display: none;
}

main {
    position: relative;
    padding-top: 70px;
    display: flex;
    align-content: center;
    flex-flow: column wrap
}

.fondo {
    background-image: url("./img/imagen1.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    position: fixed;
    z-index: -30;
    filter: saturate(1.3) contrast(1.5) blur(5px);
}

/* .fondo-img {
    background-image: url("./img/imagen1.jpg");
    position: fixed;
    z-index: 200;
} */


/* Animacion */

@keyframes movimiento {
    from{background-position: bottom left;
    }
    to{background-position: top right;
    }
    
}


/* .fondo > img {
    filter: saturate(1.3) contrast(1.5) blur(5px);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */



.titulo-principal {
    color: var(--violeta-titulo);
    text-shadow: 0px 0px 5px var(--violeta-titulo), 0px 0px 5px var(--violeta-titulo);
    padding: 30px 0px 20px 0px;
    align-self: center;
    flex-grow: 3;
    font-size: 2.5em;
    font-weight: 700;
}

.subtitulo-principal {
    position: relative;
    color: bisque;
    flex-grow: 1;
    padding: 10px;
    width: 90%;
    max-width: 400px;
    font-size: 1.2em;
    font-weight: 300;
    background: #676767;
}

.divisor {
    position: relative;
    margin-bottom: -7px;
}

.galeria-titulo {
    font-size: 3.3rem;
    color: #49e;
    text-align: center;
    text-shadow: 0px 0px 6px #49e, 0px 0px 2px #49e;
    padding-bottom: 30px;
}

.galeria {
    position: relative;
    /* top:-10px; */
    height: auto;
    background: #eee;
}

.galeria-contenedor {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.galeria-imagen {
    width: 250px;
    box-shadow: 0px 0px 15px #000;
    margin: 10px;
    transition: transform .3s ease;
}

.contacto {
    display: flex;
    justify-content: center;
    align-content: center;
    background: #eee;
    padding: 30px 0px;

}

.contacto-contenedor {
    width: 350px;
}

.contacto-titulo {
    padding: 20px;
    width: 100%;
    font-size: 2.1rem;
    color: #49e;
    text-align: center;
}

.contacto-formulario {
    padding: 20px 0px;
    background: chocolate;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1.3em;
}

.contacto-formulario__caja-texto {
    font-weight: 600;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
}

.contacto-formulario__boton {
    border: none;
    padding: 10px;
    background: #5656bb;
    color: #000;
    font-weight: 700;
    font-size: 20px;
}

.contacto-formulario__caja-texto:focus {
    outline: none;
    background: #ddd;
}

.footer {
    background: #676767;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
}

.footer-nav {
    text-align: center;
    align-self: center;
    width: 50%;
    padding-bottom: 50px;
}

.footer-nav__item > a {
    font-size: 20px;
    position: relative;
    height: 70px;
    color: #fff;
    text-decoration: none;
}

.footer-copy {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    justify-self: flex-end;
}

@media screen and (min-width: 768px) {
    .nav-container {
        display: flex
    }

    .nav__resp {
        display: none;
    }

    .titulo-principal {
        margin-right: 30%;
        color: #5656bb;
        padding: 90px 0px 15px 0px;
        font-size: 60px;
        font-weight: 900;
        text-shadow: 0px 0px 10px #5656bb;
    }

    .galeria-titulo {
        margin-right: 30%;
    }

    .galeria-contenedor {
        padding: 0px 60px;
    }

    .galeria-imagen:hover {
        transform: scale(1.3);
    }

    .fondo {
        background-size: 150%;
        width: 100%;
        height: 800px;
        position: fixed;
        z-index: -30;
        filter: saturate(1.3) contrast(1.5) blur(5px);
        animation: movimiento 35s ease-in infinite alternate;
        /* animation: none;
        background-repeat: no-repeat;
        background-size: 100%; */
    }

    input label {
        align-self: center;
    }

    .contacto-formulario {
        box-shadow: 0px 0px 10px #000;
    }
}